/* Geral */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-1: #052941;
  --color-2: #9fc031;
  --color-3: #d5d58d;
  --color-4: #c4dcec;
  --color-5: #113d5a;
  --color-6: #ebf7ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: var(--color-1);
  /* position: relative; */

  /* margin-bottom: 70px; */
  overflow: hidden;
}
main {
  /* margin-top: 70px !important;
  margin-bottom: 85px !important; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
  height: calc(100vh - 155px);
  background-color: var(--color-5);
}

button {
  padding: 1rem 1.5rem;
  border-radius: 200px;
  border: none;
  font-weight: 500;
  cursor: pointer;
  font-size: 0.8rem;
}

i {
  font-size: 16px;
}

input {
  padding: 1rem 1.3rem;
  border-radius: 200px;
  font-weight: 400;
  background-color: transparent;
  border: 1px solid var(--color-4);
  color: var(--color-4);
  width: 100%;
  font-size: 1rem;
}

input::placeholder {
  color: var(--color-4);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: sticky;
  top: 0;
  width: 100%;
  background: var(--color-1);
}

header div {
  display: flex;
  align-items: center;
  gap: 10px;
}

menu {
  position: sticky;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: var(--color-1);
  max-height: 85px;
}

menu div {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
}

#logout-btn {
  color: var(--color-4);
  background-color: var(--color-5);
  width: 2.1rem;
  height: 2.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 200px;
}

#name-user {
  color: var(--color-4);
}

#profile-pic {
  width: 2.1rem;
  border-radius: 200px;
}

header img {
  width: 9rem;
}

button:hover {
  opacity: 90%;
}

.primary-btn {
  background-color: var(--color-2);
  color: var(--color-1);
}

.secodary-btn {
  background-color: transparent;
  color: var(--color-4);
  border: 1px solid var(--color-4);
}

/* Login */

#login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}

#login-btn {
  display: flex;
  gap: 10px;
}

.floating-btn {
  position: absolute;
  bottom: 50px;
}

/* Home */
/* #input-container {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: var(--color-1);
  max-height: 85px;
}

#input-container div {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
} */

#send-btn i {
  font-size: 1.1rem;
}

/* Mensagem */
#messages-container {
  padding: 0.2rem 1rem;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 10px;
  /* overflow: auto; */
  /* height: calc(100vh - 150px); */
  /* overflow-x: hidden; */
  /* position: absolute; */
}

.message-box {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 5px;
}

.message-box-others {
  justify-content: initial;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message {
  display: flex;
  align-items: end;
  gap: 5px;
  flex-direction: row;
  max-width: 300px;
}

.message-others {
  flex-direction: row-reverse;
}

.message img {
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 200px;
}

.message div {
  padding: 0.5rem 0.8rem;
  background-color: #d5d58d;
  border-radius: 10px;
  color: var(--color-1);
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.message-text-box {
  display: flex;
  gap: 10px;
  align-items: end;
  width: 100%;
  justify-content: space-between;
}

.message-others div {
  background-color: var(--color-5);
  color: var(--color-4);
}

.name-message {
  font-size: 0.7rem;
  color: var(--color-3);
}

.time-message {
  font-size: 0.6rem;
  text-align: end;
}

/* Load */
.loader {
  border: 6px solid var(--color-4);
  border-top: 6px solid var(--color-2);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1.2s linear infinite;
}

.boxLoader {
  display: none;
  position: absolute;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  top: 0;
  /* bottom: 0; */
  background-color: #00000020;
  width: 100%;
  z-index: 9999;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Personaliza Scroll */
*::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: var(--color-1); /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-5); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid var(--color-1); /* creates padding around scroll thumb */
}

/* Flutuante rola para final */
.div-flutuante {
  display: none;
  position: fixed;
  bottom: 90px;
  right: 1rem;
  background-color: var(--color-5);
  opacity: 80%;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.div-flutuante i {
  font-size: 20px;
}

.div-flutuante.active {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: var(--color-6);
  padding: 1rem;
  text-align: center;
  max-width: 80%;
  width: 70%;
  border-radius: 1rem;
}

.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#logout-icon {
  color: var(--color-1);
  padding: 1rem;
  border-radius: 200px;
  font-size: 1.5rem;
}

#box-btn-modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.7rem;
}

.modal-btn {
  width: 100%;
}

#cancel-btn {
  background-color: transparent;
}

#logout-btn-modal {
  background-color: var(--color-1);
  padding: 1rem 2rem;
  color: var(--color-6);
}

h2 {
  font-size: 1.2rem;
  color: var(--color-1);
}
