/* Geral */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-1: #052941;
  --color-2: #9fc031;
  --color-3: #d5d58d;
  --color-4: #c4dcec;
  --color-5: #113d5a;
  --color-6: #ebf7ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: var(--color-1);
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
}

#geral {
  overflow: auto !important;
  height: 100svh;
  padding-top: 4.1rem;
  padding-bottom: 5.3rem;
}

main {
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-direction: column;
  gap: 10px;
  background-color: var(--color-1);
}

#messages-container {
  height: max-content;
  min-height: 100%;
  justify-content: flex-end;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 4rem;
  background: var(--color-1);
}

header div {
  display: flex;
  align-items: center;
  gap: 10px;
}

footer {
  width: 100%;
  position: fixed;
  height: -webkit-fill-available;
  -webkit-overflow-scrolling: touch;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: 0.5rem 1rem 1.5rem 1rem;
  background-color: var(--color-1);
  height: 5rem;
  max-height: 5rem;
  gap: 0.4rem;
  justify-content: space-between;
  margin-bottom: env(safe-area-inset-bottom);
  z-index: 10;
}

button {
  padding: 0rem 1.5rem;
  border-radius: 200px;
  border: none;
  font-weight: 500;
  cursor: pointer;
  font-size: 0.8rem;
}

i {
  font-size: 16px;
}

input {
  padding: 1rem 1.3rem;
  border-radius: 200px;
  font-weight: 400;
  background-color: transparent;
  border: 1px solid var(--color-4);
  color: var(--color-4);
  width: 100%;
  font-size: 1rem;
}

input::placeholder {
  color: var(--color-4);
}

h4 {
  color: var(--color-4);
  padding-top: 1rem;
  font-weight: 500;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

#logout-btn {
  color: var(--color-4);
  background-color: var(--color-5);
  width: 2.1rem;
  height: 2.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 200px;
}

#name-user {
  color: var(--color-4);
}

#profile-pic {
  width: 2.1rem;
  border-radius: 200px;
}

header img {
  width: 9rem;
}

button:hover {
  opacity: 90%;
}

.primary-btn {
  background-color: var(--color-2);
  color: var(--color-1);
}

.secodary-btn {
  background-color: transparent;
  color: var(--color-4);
  border: 1px solid var(--color-4);
}

/* Login */

#login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}

#login-btn {
  display: flex;
  gap: 10px;
  padding: 1rem 1.5rem;
}

.floating-btn {
  position: absolute;
  bottom: 50px;
}

/* Home */

#send-btn i {
  font-size: 1.1rem;
}

/* Mensagem */

.message-box {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 5px;
}

.message-box-others {
  justify-content: initial;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message {
  display: flex;
  align-items: end;
  gap: 5px;
  flex-direction: row;
  max-width: 300px;
}

.message-others {
  flex-direction: row-reverse;
}

.message img {
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 200px;
}

.message div {
  padding: 0.5rem 0.8rem;
  background-color: #d5d58d;
  border-radius: 10px;
  color: var(--color-1);
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.message-text-box {
  display: flex;
  gap: 10px;
  align-items: end;
  width: 100%;
  justify-content: space-between;
}

.message-others div {
  background-color: var(--color-5);
  color: var(--color-4);
}

.name-message {
  font-size: 0.7rem;
  color: var(--color-3);
}

.time-message {
  font-size: 0.6rem;
  text-align: end;
}

/* Load */
.loader {
  border: 6px solid var(--color-4);
  border-top: 6px solid var(--color-2);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1.2s linear infinite;
}

.boxLoader {
  display: none;
  position: absolute;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  top: 0;
  background-color: #00000020;
  width: 100%;
  z-index: 9999;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Personaliza Scroll */
*::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: var(--color-1); /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-5); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid var(--color-1); /* creates padding around scroll thumb */
}

/* Flutuante rola para final */
.div-flutuante {
  display: none;
  position: fixed;
  bottom: 90px;
  right: 1rem;
  background-color: var(--color-5);
  opacity: 80%;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.div-flutuante i {
  font-size: 20px;
}

.div-flutuante.active {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.modal-content {
  background-color: var(--color-6);
  padding: 1rem;
  text-align: center;
  max-width: 80%;
  width: 70%;
  border-radius: 1rem;
}

.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.room-delete-modal,
#logout-icon {
  color: var(--color-1);
  padding: 1rem;
  border-radius: 200px;
  font-size: 1.5rem;
}

#box-btn-modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.7rem;
}

.modal-btn {
  width: 100%;
}

#cancel-btn {
  background-color: transparent;
}

#delete-room-btn-modal,
#logout-btn-modal {
  background-color: var(--color-1);
  padding: 1rem 2rem;
  color: var(--color-6);
}

h2 {
  font-size: 1.2rem;
  color: var(--color-1);
}

/* Rooms */

#rooms-container {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  color: var(--color-3);
  font-size: 0.8rem;
}

#my-rooms-container {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  color: var(--color-3);
  font-size: 0.8rem;
}

.room-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-left: 5px solid var(--color-2);
  background-color: var(--color-5);
  padding: 1.2rem 1rem;
  border-radius: 0.8rem;
}

#my-rooms-container .room-card {
  background-color: var(--color-6);
  border-color: var(--color-2);
}

#my-rooms-container .room-card h5 {
  color: var(--color-1);
}

.room-card button {
  background-color: transparent;
  border: 1px solid var(--color-4);
  color: var(--color-4);
}

h5 {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-4);
}

#buttons-rooms {
  display: flex;
  gap: 0.7rem;
}

#buttons-rooms button {
  background-color: var(--color-2);
  color: var(--color-6);
}

#back-btn {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  color: var(--color-4);
  min-width: 5rem;
}

#room-name {
  color: var(--color-2);
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.room-img-creator {
  width: 2rem;
  border-radius: 200px;
}

.room-box-img {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.room-box-img p {
  color: var(--color-4);
  font-weight: 400;
}

#my-rooms-container .room-card .room-box-img p {
  color: var(--color-1);
}

.room-delete {
  font-size: 1rem;
  background-color: var(--color-5);
  color: var(--color-4);
  padding: 0.6rem;
  border-radius: 200px;
}

#room-delete {
  display: none;
}

#room-box-name {
  width: 11rem;
  display: flex;
  justify-content: center;
  flex-grow: 2;
}

#room-box-pic {
  min-width: 5rem;
  justify-content: end;
}
